In [1]:
import pandas as pd

In [19]:
Details = pd.read_csv("/content/Details.csv", sep = ";")
Details.sample(5)

      listing_id                                            Details
2369      326491  Water View, Terrace/Outdoor Space, Storage, Pr...
672       283779  Fireplace, Terrace, Mountain view, Air conditi...
348       280024  Security system, Terrace, Swimming pool, Basem...
1865      301540  Fireplace, Elevator, Terrace, Accessible for w...
59        279396  Fireplace, Terrace, Air conditioning, Swimming...

In [18]:
len(Details)

2410

In [20]:
Details

      listing_id                                            Details
0         279280  Fireplace, Guest apartment, Air conditioning, ...
1         279282  Fireplace, Security system, Guest apartment, A...
2         279283  Fireplace, Security system, Guest apartment, J...
3         279284  Fireplace, Elevator, Terrace, Air conditioning...
4         279285  Fireplace, Security system, Helicopter pad, Gu...
...          ...                                                ...
2405      327566  Built barbecue, Central Heating, Ceramic gres ...
2406      327593  Built barbecue Central Heating Ceramic gres fl...
2407      327594  Fireplace, Mountain view, Air conditioning, Sw...
2408      327601                                    Terrace, Garden
2409      327606  Charming Property, Condition - Fairly Good, Fu...

[2410 rows x 2 columns]

In [23]:
Details.dtypes

listing_id     int64
Details       object
dtype: object

In [28]:
Details.isnull().sum()

listing_id    0
Details       0
dtype: int64

In [21]:
Built_used_area = pd.read_csv("/content/Built_used_area.csv", sep = ";")
Built_used_area.sample(5)

      listing_id  built_area  used_area
3933      414391       437.0        0.0
1285      370155      1296.0        0.0
1939      285308       300.0        NaN
155       279344      1111.0      804.0
2198      323611       673.0        0.0

In [22]:
len(Built_used_area)

5506

In [24]:
Built_used_area.dtypes

listing_id      int64
built_area    float64
used_area     float64
dtype: object

In [25]:
Built_used_area.isnull().sum()

listing_id      0
built_area      8
used_area     837
dtype: int64

In [27]:
len(Built_used_area.drop_duplicates())

4317

In [35]:
Price_changes = pd.read_csv("/content/Price_changes.csv", sep = "\t")
Price_changes.sample(5)

,listing_id,old_price,new_price,change_date,Details
2369,317339,2100000.0,1700000,2016-02-12,"Elevator, Terrace, Air conditioning, Swimming ..."
5130,604199,1600000.0,1490000,2017-06-10,"Charming Property, Condition - Fairly Good, Fu..."
3532,348445,1995000.0,2295000,2017-02-02,"Charming Property, Condition - Fairly Good, Fu..."
2761,327785,2150000.0,1975000,2016-08-24,"Charming Property, Condition - Fairly Good, Fu..."
961,290234,2350000.0,2500000,2016-05-04,"Terrace/Outdoor Space, Storage, Privacy Fence,..."

In [36]:
Price_changes.dtypes

listing_id       int64
old_price      float64
new_price        int64
change_date     object
Details         object
dtype: object

In [41]:
Price_changes.duplicated(subset=['listing_id'])

0       False
1       False
2       False
3       False
4       False
        ...
5501    False
5502    False
5503    False
5504    False
5505    False
Length: 5506, dtype: bool

In [40]:
df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool